---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { Image } from "astro:assets";

import ucfImg from "../_image/UCF.webp";
import fullstackicon from "../_image/test2.png";
import wendysLogo from "../_image/Wendys-Logo.png";
import emptyImg from "../_image/empty.webp";
import asmImg from "../_image/asmImg.jpeg";
import nanoLogo from "../_image/nanoxd.webp";
import linuxLogo from "../_image/linux.png";
import reactLogo from "../_image/React-icon.svg.png";
import pyLogo from "../_image/python.png";
import jsLogo from "../_image/JavaScript-logo.png";
import tsLogo from "../_image/TS.svg";
import goLogo from "../_image/golang.png";
import cLogo from "../_image/C_Logo.png";
import jLogo from "../_image/Java.png";
import sLogo from "../_image/SQL.png";
import bLogo from "../_image/shell.png";
import vLogo from "../_image/VMBox.png";
import hLogo from "../_image/html.png";
import cssLogo from "../_image/css.png";
import nLogo from "../_image/nextjs.svg";
import nodeLogo from "../_image/node.png";
import fibLogo from "../_image/gofiber.png";
import twLogo from "../_image/twc.png";
import shadcnLogo from "../_image/shadcn.png";
import tanLogo from "../_image/tanstack.png";
import exLogo from "../_image/express.png";
import assLogo from "../_image/assembly.png";
import faLogo from "../_image/fa.svg";
import djLogo from "../_image/dj.png";
import flLogo from "../_image/flask.png";
import spLogo from "../_image/Spring.png";
import hxLogo from "../_image/htmx.png";
import restLogo from "../_image/rest.webp";
import pgLogo from "../_image/ps.png";
import mysqlLogo from "../_image/mysql.png";
import tsdbLogo from "../_image/tsdb.png";
import pLogo from "../_image/prisma.png";
import gqlLogo from "../_image/gql.png";
import bsLogo from "../_image/bs.png";
import dockLogo from "../_image/docker.png";
import gitLogo from "../_image/git.png";
import pmLogo from "../_image/postman.svg";
import vercLogo from "../_image/v.svg";
import awsLogo from "../_image/aws.webp";
import excelLogo from "../_image/excel.png";
import accLogo from "../_image/access.png";
import wordLogo from "../_image/word.png";
import outLogo from "../_image/outlook.png";
import ppLogo from "../_image/pp.png";
import pbiLogo from "../_image/pbi.png";
import odLogo from "../_image/od.png";
import tLogo from "../_image/trello.png";
import wLogo from "../_image/windows.png";
import mdbLogo from "../_image/mdb.svg";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hello 👋</div>
    <div class="text-5xl font-bold">I'm Christopher Januario</div>
    <div class="text-3xl py-3 font-bold">
      Software Engineer and Mathematician
    </div>
    <div class="py-2 grid">
      <text class="text-lg">
        Welcome to my <b>Blazingly Fast🔥</b> portfolio.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/manuelernestog" target="_blank">
        Let's connect!</a
      >
      <a
        href="https://github.com/manuelernestog/astrofy"
        target="_blank"
        class="btn btn-outline ml-5"
      >
        Get This template
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Education 🏫</div>
  </div>

  <HorizontalCard
    title="Bachelor of Science"
    date="University of Central Florida"
    badge="2022 - 2026 (expected)"
    img={ucfImg}
    desc={["Double Major: Computer Science and Mathematics", "Minor: Physics"]}
    url="#"
  />

  <div>
    <div class="text-3xl w-full pt-6 font-bold mb-2">Experience 💪🧑‍💼</div>
  </div>

  <HorizontalCard
    title="Full-Stack Developer"
    date="SCI Solutions, LLC"
    img={fullstackicon}
    desc={[
      "• Converted legacy PHP website to React with TypeScript",
      "• Created CRUD API using Express in Next.js App Router to manage production DB",
      "• Designed and styled components using Radix-UI and TailwindCSS",
      "• Working in Trello using Agile SCRUM methodology",
    ]}
    url="#"
    badge="08/2023 - Present"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Shift Manager"
    date="Wendy's (Orlando, FL)"
    img={wendysLogo}
    desc={[
      "• Worked nearly 40 hours per week",
      "• Received ServSafe Certification, responsible for health of customers",
      "• Managed Inventory and Waste by logging and creating sales forecasts",
      "• Responsible for all store-related problems: technological, mechanical, and social",
    ]}
    url="#"
    badge="08/2022 - 12/2022"
  />
  <HorizontalCard
    title="Team Trainer"
    date="Wendy's (Weston, FL)"
    img={emptyImg}
    desc={[
      "• Worked 30+ hours per week",
      "• Responsible for correctly processing orders, money, and speed of service",
      "• Implemented weekly systems for sanitation and inventory. Delegated tasks to crew",
    ]}
    badge="02/2022 - 08/2022"
    url="#"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Substitute Music Teacher"
    date="ASM Music Schools"
    img={asmImg}
    desc={[
      "• Taught for Eloy Oliveros, a Cuban Latin Percussionist",
      "• Motivated and trained students K-12",
      "• Designed plans and assigned homework based on students’ progress",
    ]}
    url="#"
    badge="02/2021 - 06/2022"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="UI/eCommerce Developer"
    date="NanoXD International"
    img={nanoLogo}
    desc={[
      "• Designed User Interface and content display",
      "• Responsible for the pages of production eCommerce site",
      "• Built and styled the UI in WordPress",
    ]}
    url="#"
    badge="02/2021 - 06/2022"
  />
  <div>
    <div>
      <div class="text-3xl w-full font-bold mb-2">Skills</div>
    </div>
    <div>
      <div class="text-2xl w-full pl-4 pb-2 font-semibold mb-2">Languages</div>
    </div>

    <div class="grid justify-center grid-cols-8 text-lg text-center gap-4 pl-8">
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={pyLogo}
            height={100}
            alt="Python"
          />
        </div>
         Python
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%] rounded-2xl"
            src={jsLogo}
            height={100}
            alt="JavaScript"
          />
        </div>
         JavaScript
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%] rounded-2xl"
            src={tsLogo}
            height={100}
            alt="TypeScript"
          />
        </div>
         TypeScript
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%] rounded-2xl"
            src={cLogo}
            height={100}
            alt="C"
          />
        </div>
         C
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={goLogo}
            height={100}
            alt="Go"
          />
        </div>
         Golang
      </div>

      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={jLogo}
            height={100}
            alt="Java"
          />
        </div>

         Java
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={hLogo}
            height={100}
            alt="HTML"
          />
        </div>
         HTML
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={cssLogo}
            height={100}
            alt="CSS"
          />
        </div>
         CSS
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={sLogo}
            height={100}
            alt="SQL"
          />
        </div>
         SQL
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={bLogo}
            height={100}
            alt="Batch"
          />
        </div>
         Shell Script
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={assLogo}
            height={100}
            alt="MIPS"
          />
        </div>
         MIPS Assembly
      </div>
    </div>

    <div class="divider my-0"></div>

    
    <div>
      <div class="text-2xl w-full pl-4 pb-2 font-semibold mb-2">Backend</div>
    </div>
    <div class="grid justify-center grid-cols-8 text-lg text-center gap-4 pl-8">
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={nodeLogo}
            height={100}
            alt="Node.js"
          />
        </div>
         Node.js
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={restLogo}
            height={100}
            alt="REST"
          />
        </div>
         RESTful APIs
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={exLogo}
            height={100}
            alt="Express.js"
          />
        </div>

         Express.js
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={fibLogo}
            height={100}
            alt="Fiber"
          />
        </div>
         Fiber
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={faLogo}
            height={100}
            alt="FastAPI"
          />
        </div>
         FastAPI
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={djLogo}
            height={100}
            alt="django"
          />
        </div>
         django
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={flLogo}
            height={100}
            alt="Flask"
          />
        </div>
         Flask
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={spLogo}
            height={100}
            alt="Spring"
          />
        </div>
         Spring
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={pgLogo}
            height={100}
            alt="postreg"
          />
        </div>
         PostgreSQL
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={mysqlLogo}
            height={100}
            alt="MySQL"
          />
        </div>
         MySQL
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={mdbLogo}
            height={100}
            alt="MongoDB"
          />
        </div>
         MongoDB
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={tsdbLogo}
            height={100}
            alt="timescaleDB"
          />
        </div>
         TimescaleDB
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={gqlLogo}
            height={100}
            alt="GraphQL"
          />
        </div>
         GraphQL
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={pLogo}
            height={100}
            alt="Prisma"
          />
        </div>
         Prisma
      </div>
    </div>

    <div class="divider my-0"></div>

    <div>
      <div class="text-2xl w-full pl-4 pb-2 font-semibold mb-2">Frontend</div>
    </div>
    <div class="grid justify-center grid-cols-8 text-lg text-center gap-4 pl-8">
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={reactLogo}
            height={100}
            alt="React"
          />
        </div>
         React
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={hxLogo}
            height={100}
            alt="HTMX"
          />
        </div>
         HTMX
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={nLogo}
            height={100}
            alt="Next.js"
          />
        </div>
         Next.js
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={twLogo}
            height={100}
            alt="TailWind"
          />
        </div>
         Tailwind CSS
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%] rounded-2xl"
            src={bsLogo}
            height={100}
            alt="Bootstrap"
          />
        </div>
         Bootstrap
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%] rounded-2xl"
            src={shadcnLogo}
            height={100}
            alt="shadcn"
          />
        </div>
         shadcn/ui
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%] rounded-2xl"
            src={tanLogo}
            height={100}
            alt="TanStack"
          />
        </div>
         TanStack Query/Table
      </div>
    </div>
    
    
    <div class="divider my-0"></div>
    <div>
      <div class="text-2xl w-full pl-4 pb-2 font-semibold mb-2">Tech</div>
    </div>
    <div class="grid justify-center grid-cols-8 text-lg text-center gap-4 pl-8">
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={wLogo}
            height={100}
            alt="Windows"
          />
        </div>
         Windows Vista/7/8/10/11
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={linuxLogo}
            height={100}
            alt="Linux"
          />
        </div>
         Linux
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={vLogo}
            height={100}
            alt="VMWare"
          />
        </div>
         VM VirtualBox
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={dockLogo}
            height={100}
            alt="Docker"
          />
        </div>
         Docker
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={gitLogo}
            height={100}
            alt="Git"
          />
        </div>
         Git
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={pmLogo}
            height={100}
            alt="Postman"
          />
        </div>
         Postman
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={awsLogo}
            height={100}
            alt="AWS"
          />
        </div>
         AWS
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={vercLogo}
            height={100}
            alt="Vercel"
          />
        </div>
         Vercel
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={tLogo}
            height={100}
            alt="Trello"
          />
        </div>
         Trello
      </div>
    </div>
    <div class="divider my-0"></div>
    <div>
      <div class="text-2xl w-full pl-4 pb-2 font-semibold mb-2">
        Microsoft 365
      </div>
    </div>
    <div class="grid justify-center grid-cols-8 text-lg text-center gap-4 pl-8">
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={excelLogo}
            height={100}
            alt="Excel"
          />
        </div>
         Excel
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={accLogo}
            height={100}
            alt="Access"
          />
        </div>
         Access
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={pbiLogo}
            height={100}
            alt="Power BI"
          />
        </div>
         Power BI
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={wordLogo}
            height={100}
            alt="Word"
          />
        </div>
         Word
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={ppLogo}
            height={100}
            alt="PowerPoint"
          />
        </div>
         PowerPoint
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={outLogo}
            height={100}
            alt="Outlook"
          />
        </div>
         Outlook
      </div>
      <div class="text-sm">
        <div class="h-24 grid content-center">
          <Image
            class="pb-1 hover:scale-[110%]"
            src={odLogo}
            height={100}
            alt="OneDrive"
          />
        </div>
         OneDrive
      </div>
    </div>
  </div>
</BaseLayout>
