---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { Image } from "astro:assets";

import ucfImg from "../_image/UCF.webp";
import fullstackicon from "../_image/test2.png";
import wendysLogo from "../_image/Wendys-Logo.png";
import emptyImg from "../_image/empty.webp";
import asmImg from "../_image/asmImg.jpeg";
import nanoLogo from "../_image/nanoxd.webp";
import linuxLogo from "../_image/linux.png";
import reactLogo from "../_image/React-icon.svg.png";
import pyLogo from "../_image/python.png";
import jsLogo from "../_image/JavaScript-logo.png";
import tsLogo from "../_image/TS.svg";
import goLogo from "../_image/golang.png";
import cLogo from "../_image/C_Logo.png";
import jLogo from "../_image/Java.png";
import sLogo from "../_image/SQL.png";
import bLogo from "../_image/shell.png";
import vLogo from "../_image/VMBox.png";
import hLogo from "../_image/html.png";
import cssLogo from "../_image/css.png";
import nLogo from "../_image/nextjs.svg";
import nodeLogo from "../_image/node.png";
import fibLogo from "../_image/gofiber.png";
import twLogo from "../_image/twc.png";
import shadcnLogo from "../_image/shadcn.png";
import tanLogo from "../_image/tanstack.png";
import exLogo from "../_image/express.png";
import assLogo from "../_image/assembly.png";
import faLogo from "../_image/fa.svg";
import djLogo from "../_image/dj.png";
import flLogo from "../_image/flask.png";
import spLogo from "../_image/Spring.png";
import hxLogo from "../_image/htmx.png";
import restLogo from "../_image/REST.webp";
import pgLogo from "../_image/ps.png";
import mysqlLogo from "../_image/mysql.png";
import tsdbLogo from "../_image/tsdb.png";
import pLogo from "../_image/prisma.png";
import gqlLogo from "../_image/gql.png";
import bsLogo from "../_image/bs.png";
import dockLogo from "../_image/docker.png";
import gitLogo from "../_image/git.png";
import pmLogo from "../_image/postman.svg";
import vercLogo from "../_image/v.svg";
import awsLogo from "../_image/aws.webp";
import excelLogo from "../_image/excel.png";
import accLogo from "../_image/access.png";
import wordLogo from "../_image/word.png";
import outLogo from "../_image/outlook.png";
import ppLogo from "../_image/pp.png";
import pbiLogo from "../_image/pbi.png";
import odLogo from "../_image/od.png";
import tLogo from "../_image/trello.png";
import wLogo from "../_image/windows.png";
import mdbLogo from "../_image/mdb.svg";
import SkillPic from "../components/SkillPic.astro";

type IconData = {
  name: String;
  logo: ImageMetadata;
};
const langList: IconData[] = [
  { name: "Python", logo: pyLogo },
  { name: "JavaScript", logo: jsLogo },
  { name: "TypeScript", logo: tsLogo },
  { name: "C", logo: cLogo },
  { name: "Golang", logo: goLogo },
  { name: "Java", logo: jLogo },
  { name: "HTML 5", logo: hLogo },
  { name: "CSS", logo: cssLogo },
  { name: "SQL", logo: sLogo },
  { name: "PowerShell", logo: bLogo },
  { name: "MIPS Assembly", logo: assLogo },
];

const backList: IconData[] = [
  { name: "Node.js", logo: nodeLogo },
  { name: "Restful APIs", logo: restLogo },
  { name: "Express.js", logo:exLogo },
  { name: "Fiber", logo: fibLogo },
  { name: "FastAPI", logo: faLogo },
  { name: "django", logo: djLogo },
  { name: "Flask", logo: flLogo },
  { name: "Spring", logo: spLogo },
  { name: "PostgreSQL", logo: pgLogo },
  { name: "MongoDB", logo:mdbLogo },
  { name: "TimescaleDB", logo: tsdbLogo },
  { name: "GraphQL", logo:gqlLogo },
  { name: "Prisma", logo: pLogo },
]

---

<BaseLayout sideBarActiveItemID="home">
  <div class="text-lg grid">
    <div class="pl-8 py-2">Hello 👋</div>
    <div class="">I'm <b class="text-4xl text-center md:text-5xl"> Christopher Januario</b></div>
    <b class="text-xl pl-8 pb-4">Software Engineer and Mathematician</b>
    <div class="flex gap-1 pl-8 pb-16">
      Welcome to my <b> Blazingly Fast🔥</b>portfolio.
    </div>
  </div>
  <div class="grid grid-cols-4 gap-x-8 gap-y-2 pb-12 lg:px-32">
    <a href="/ChrisResume24Q1.pdf" target="_blank" class="btn btn-outline col-span-2">
      View Résumé
    </a>
    <a href="https://home.cjanua.xyz" target="_blank" class="btn btn-outline col-span-2">
      Projects
    </a>
    <a />
    <a
      class="btn col-span-2 "
      href="https://www.linkedin.com/in/christopher-januario/"
      target="_blank"
    >
      Let's connect</a
    >
  </div>

  <div class="text-3xl w-full font-bold mb-2">Education 🏫</div>
  <div class="md:px-8">
    <HorizontalCard
      title="Bachelor of Science"
      date="University of Central Florida"
      badge="2022-2026 (expected)"
      img={ucfImg}
      desc={["Major: Mathematics and Computer Science", "Minor: Physics"]}
      url="#"
      bullet={false}
    />
  </div>
  <div class="text-3xl w-full pt-6 font-bold mb-2">Experience 💪🧑‍💼</div>
  <div class="md:px-8">
    <HorizontalCard
      title="Full-Stack Developer"
      date="SCI Solutions, LLC"
      img={fullstackicon}
      desc={[
        "Converted legacy PHP website to React with TypeScript",
        "Created CRUD API using Express in Next.js App Router to manage production DB",
        "Designed and styled components using Radix-UI and TailwindCSS",
        "Working in Trello using Agile SCRUM methodology",
      ]}
      url="#"
      badge="08/2023-Present"
    />
    <div class="divider my-0" />
    <HorizontalCard
      title="Shift Manager"
      date="Wendy's (Orlando, FL)"
      img={wendysLogo}
      desc={[
        "Received ServSafe Certification, responsible for health of customers",
        "Managed Inventory and Waste by logging and creating sales forecasts",
        "Responsible for all store-related problems: technological, mechanical, and social",
      ]}
      url="#"
      badge="08/2022-12/2022"
    />
    <HorizontalCard
      title="Team Trainer"
      date="Wendy's (Weston, FL)"
      img={emptyImg}
      empty={true}
      desc={[
        "Responsible for correctly processing orders, money, and speed of service",
        "Implemented weekly systems for sanitation and inventory. Delegated tasks to crew",
      ]}
      badge="02/2022-08/2022"
      url="#"
    />

    <div class="divider my-0" />
    <HorizontalCard
      title="Substitute Music Teacher"
      date="ASM Music Schools"
      img={asmImg}
      desc={[
        "Taught for Eloy Oliveros, a Cuban Latin Percussionist",
        "Motivated and trained students K-12",
        "Designed plans and assigned homework based on students’ progress",
      ]}
      url="#"
      badge="02/2021-06/2022"
    />
    <div class="divider my-0" />
    <HorizontalCard
      title="UI/eCommerce Developer"
      date="NanoXD International"
      img={nanoLogo}
      desc={[
        "Designed User Interface and content display",
        "Responsible for the pages of production eCommerce site",
        "Built and styled the UI in WordPress",
      ]}
      url="#"
      badge="02/2021-06/2022"
    />
  </div>
  <div>
    <div class="text-3xl w-full font-bold mb-2">Technologies 💻</div>
    <div class="text-2xl w-full pl-4 font-semibold pb-4">Languages</div>

    <div
      class="grid justify-center grid-cols-8 text-lg text-center gap-1 lg:gap-3 pl-8"
    >
      {langList.map((i: IconData) => <SkillPic name={i.name} logo={i.logo} />)}
    </div>

    <div class="divider my-0" />

    <div class="text-2xl w-full pl-4 font-semibold mb-2">Backend</div>
    <div
      class="grid justify-center grid-cols-8 text-lg text-center gap-1 lg:gap-3 pl-8"
    >
      {backList.map((i: IconData) => <SkillPic name={i.name} logo={i.logo} />)}
    </div>

    <div class="divider my-0"></div>

    <div>
      <div class="text-2xl w-full pl-4 font-semibold mb-2">Frontend</div>
    </div>
    <div class="grid justify-center grid-cols-8 text-lg text-center gap-2 pl-8">
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="React.js">
          <Image
            class="hover:scale-[110%]"
            src={reactLogo}
            height={100}
            alt="React"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="HTMX">
          <Image
            class="hover:scale-[110%]"
            src={hxLogo}
            height={100}
            alt="HTMX"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="Next.js">
          <Image
            class="hover:scale-[110%]"
            src={nLogo}
            height={100}
            alt="Next.js"
          />
        </div>
      </div>
      <div class="text-sm">
        <div
          class="grid content-center align-middle tooltip"
          data-tip="Tailwind CSS"
        >
          <Image
            class="content-center hover:scale-[110%]"
            src={twLogo}
            height={100}
            alt="TailWind"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="Bootstrap">
          <Image
            class="hover:scale-[110%] rounded-2xl"
            src={bsLogo}
            height={100}
            alt="Bootstrap"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="shadcn/ui">
          <Image
            class="hover:scale-[110%] rounded-2xl"
            src={shadcnLogo}
            height={100}
            alt="shadcn"
          />
        </div>
      </div>
      <div class="text-sm">
        <div
          class="grid content-center tooltip"
          data-tip="Tanstack React Table"
        >
          <Image
            class="hover:scale-[110%] rounded-2xl"
            src={tanLogo}
            height={100}
            alt="TanStack"
          />
        </div>
      </div>
    </div>

    <div class="divider my-0"></div>
    <div>
      <div class="text-2xl w-full pl-4 font-semibold mb-2">Tech</div>
    </div>
    <div class="grid justify-center grid-cols-8 text-lg text-center gap-2 pl-8">
      <div class="text-sm">
        <div
          class="grid content-center tooltip"
          data-tip="Windows Vista/7/8/10/11"
        >
          <Image
            class="hover:scale-[110%]"
            src={wLogo}
            height={100}
            alt="Windows"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="Linux">
          <Image
            class="hover:scale-[110%]"
            src={linuxLogo}
            height={100}
            alt="Linux"
          />
        </div>
      </div>
      <div class="text-sm">
        <div
          class="grid content-center tooltip"
          data-tip="Oracle VM VirtualBox"
        >
          <Image
            class="hover:scale-[110%]"
            src={vLogo}
            height={100}
            alt="VMWare"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="Docker">
          <Image
            class="hover:scale-[110%]"
            src={dockLogo}
            height={100}
            alt="Docker"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="Git/Github">
          <Image
            class="hover:scale-[110%]"
            src={gitLogo}
            height={100}
            alt="Git"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="Postman">
          <Image
            class="hover:scale-[110%]"
            src={pmLogo}
            height={100}
            alt="Postman"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="AWS">
          <Image
            class="hover:scale-[110%]"
            src={awsLogo}
            height={100}
            alt="AWS"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="Vercel">
          <Image
            class="hover:scale-[110%]"
            src={vercLogo}
            height={100}
            alt="Vercel"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="Trello">
          <Image
            class="hover:scale-[110%]"
            src={tLogo}
            height={100}
            alt="Trello"
          />
        </div>
      </div>
    </div>
    <div class="divider my-0"></div>
    <div>
      <div class="text-2xl w-full pl-4 font-semibold mb-2">Microsoft 365</div>
    </div>
    <div class="grid justify-center grid-cols-8 text-lg text-center gap-2 pl-8">
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="Excel">
          <Image
            class="hover:scale-[110%]"
            src={excelLogo}
            height={100}
            alt="Excel"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="Access">
          <Image
            class="hover:scale-[110%]"
            src={accLogo}
            height={100}
            alt="Access"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="Power BI">
          <Image
            class="hover:scale-[110%]"
            src={pbiLogo}
            height={100}
            alt="Power BI"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="Word">
          <Image
            class="hover:scale-[110%]"
            src={wordLogo}
            height={100}
            alt="Word"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="PowerPoint">
          <Image
            class="hover:scale-[110%]"
            src={ppLogo}
            height={100}
            alt="PowerPoint"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="Outlook">
          <Image
            class="hover:scale-[110%]"
            src={outLogo}
            height={100}
            alt="Outlook"
          />
        </div>
      </div>
      <div class="text-sm">
        <div class="grid content-center tooltip" data-tip="OneDrive">
          <Image
            class="hover:scale-[110%]"
            src={odLogo}
            height={100}
            alt="OneDrive"
          />
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
