---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { slide } from "astro:transitions";
const { image, title = SITE_TITLE, description = SITE_DESCRIPTION, includeSidebar = true, sideBarActiveItemID } = Astro.props;

---

<!DOCTYPE html>
<html lang="en" class=" ">

  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class = "sm:overflow-x-hidden"   >
    <div class="drawer lg:drawer-open">
      
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100 overflow-x-hidden">
        <Header title={SITE_TITLE} />
        <div class="flex justify-center scale-[95%]" transition:animate={slide()} >      
          <main class="px-0 latptop:px-4 desktop:px-32 tv:px-[16rem], full-tv:px-[32rem] -mt-12 md:-mt-4 lg:-mt-0" >   
            <slot class = ""/>
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} class=""/>}
    </div>
  </body>
</html>
